//- nav.pug
//- Paramvir Atwal
//-This file comtains the contents for the nav bar
nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href='#') Paramvir 
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
 
    ul.navbar-nav.mr-auto
        li.nav-item.active1
            a.nav-link(href='/About') About
        li.nav-item.active2
            a.nav-link(href='/Skills') Skills
        li.nav-item.active3
            a.nav-link(href='/Projects') Projects
        li.nav-item.active4
            a.nav-link(href='/Work') Work  
        li.nav-item.active5
            a.nav-link(href='/Contact') Contact  
             //- using umordered list to mention the different links on n nav bar with tags to add animations