extends layout

block content
  h1 About
  h2 Introduction
  p My name is Paramvir Atwal. I am 20 yrs old and a student studying in Georgian College. I was born in India but recently moved to Canada for studies. 
  h2 Fun Facts
  ul
    li My birthday is on Valentine's Day.
    li I am an Indian who recent immigrated to Canada
    li I am reallly good at ping pong.
    li I love programming but I started to build interenst in the financial sector as well.
     
  