extends layout

block content
    .middle
        a.btn(href='https://www.facebook.com/') Facebook
            i.fab.fa-facebook-f 
        a.btn(href='https://twitter.com/?lang=en') Twitter
            i.fab.fa-twitter 
        a.btn(href='https://www.google.com/') Google
            i.fab.fa-google 
        a.btn(href='https://www.instagram.com/?hl=en') Instagram
            i.fab.fa-instagram 
        a.btn(href='https://www.youtube.com/') Youtube
            i.fab.fa-youtube 