//- Projects.pug
//-Paramvir Atwal
//-this file contains contents for the projects page

extends layout

block content
  h1 Projects
  h2 Lottery System
  //- adding the list to addres the feature of the project
  ul 
    li Built a lottery application in Java
    li Successfully constructed a lottery application.
    li Built algorithms to select a winner among thousands of people.
    li Configured the application in such a way that one could book and see a ticket and was also able to build an algorithm which would show a properly constructed lottery ticket for an individual with their information on it and can access it at any point of time.
  h2 Restaurant Application 
  //- adding the list to addres the feature of the project
  ul
    li While working in a group of 3, successfully constructed a restaurant application in Java
    li With this application programmed in Java, it was successfully able to store the information for the number of bookings and the available bookings for a particular day of the week at a particular time.
    li One could sign in as a customer manager or the cook to see what orders to cook at a particular time.
  h2 Pac Man
  //- adding the list to addres the feature of the project
  ul 
    li While working in a gorup of three, created a game in C# similar to Pac man.
    li Game had mesmerising visuals with proper functionality.
    li all the player information was store locally in the machine while keeping a track of top five high scores.
  