extends layout

block content
  h1 Skills
  p Html
      div(class = "html") 100% 
  p Css
      div(class = "css") 90% 
  p ASP.NET
      div(class = "asp") 90% 
  p Java
      div(class = "java") 70% 
  p PHP
      div(class = "php") 75% 
  p JavaScript
      div(class = "script") 80% 
  p Advanced Database Management
      div(class = "data") 90% 
  p C#
      div(class = "c") 60% 
  p Ms Excel
      div(class = "excel") 90% 


  
  