extends layout

block content
  h1 Skills
  p Html
      div(class = "html bar", ) 100% 
  p Css
      div(class = "css bar", ) 900% 
  p ASP.NET
      div(class = "asp bar", ) 90% 
  p Java
      div(class = "java bar", ) 70% 
  p PHP
      div(class = "php bar", ) 75% 
  p JavaScript
      div(class = "script bar", ) 80% 
  p Advanced Database Management
      div(class = "data bar", ) 90% 
  p C#
      div(class = "c bar", ) 60% 
  p Ms Excel
      div(class = "excel bar", ) 90% 


  
  