//- Work.pug
//- Paramvir Atwal
//-This file comtains the contents for Services file
extends layout

block content
  h1 Services Provided
  .service
    ul 
      li Database Management
      li Basic Website Management and Building
      li Providing Requirements Documents
      li Putting stories in the JIRA software and helping employees to use it.