extends layout

block content
  h1 Work Experiences
  h2 Associte Business Analyst, ScotiaBank ( September, 2018-December, 2018)
  h4 Job Responsibilities
  ul
    li Provided  production support of business analysis on daily data load and report generation and escalate and coordinate with the various Technology teams of upstream and downstream systems for any issues and resolve within the SLA.
    li Prepare the necessary documentation for any releases and coordinate the UAT and Prod promotion engaging the RCM and TCM teams, following the Bank standards on JIRA processes.
    li  Worked with key stakeholders within all business functions to align technology solutions with business strategies.
    li Gathers requirements from business units on any ad-hoc requests and work with the developers to implement solutions.